<div class="ui inverted segment">
  <div class="ui inverted secondary menu container">
    <div class="header item">
      Favly
    </div>
    <a class="item active">
      Home
    </a>
    <a href="https://github.com/adrcav/favly" target="_blank" class="item">
      GitHub
    </a>
    <div class="item right">
        <a href="https://github.com/adrcav/favly/stargazers" target="_blank">
          <div class="ui inverted animated button" tabindex="0">
            <div class="visible content">Follow us</div>
            <div class="hidden content">
              <i class="heart icon"></i>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
