<div class="ui inverted segment">
  <div class="ui inverted secondary menu container">
    <a class="item active">
      Home
    </a>
    <a href="https://github.com/" target="_blank" class="item">
      GitHub
    </a>
    <!-- <div class="item right">
        <div class="ui inverted transparent icon input">
          <input type="text" #search placeholder="Procurar repositório..." (keyup.enter)="updateSearch(search.value)" (blur)="updateSearch(search.value)">
          <i class="search icon"></i>
        </div>
    </div> -->
  </div>
</div>
<div class="ui hidden divider"></div>
