<div class="ui container segment">

  <h2 class="ui header">
    <i class="github icon"></i>
    <div class="content">
      Repositórios
      <div class="sub header">Lista dos repositórios preferidos</div>
    </div>
  </h2>

  <div class="ui error message" *ngIf="!repos || !repos.length">
    <div class="header">Sem conteúdo</div>
    <p>Infelizmente não há nenhum dado cadastrado.</p>
  </div>

  <div class="ui grid">
    <div class="ui four column row">
      <div class="column" *ngFor="let currentRepo of repos">
        <app-repo [repo]="currentRepo" (likedRepoChild)="handleLikedRepoFromChildComponent($event)"></app-repo>
      </div>
    </div>
  </div>

</div>
