<div class="ui container segment">

  <h2 class="ui header">
    <i class="heart icon"></i>
    <div class="content">
      Favoritos
      <div class="sub header">Lista dos repositórios preferidos</div>
    </div>
  </h2>

  <div class="ui error message" *ngIf="!repos || !repos.length">
    <div class="header">Sem conteúdo</div>
    <p>Infelizmente não há nenhum dado cadastrado.</p>
  </div>

  <div class="ui grid">
    <div class="ui four column row">
      <div class="four wide column" *ngFor="let currentRepo of repos">
        <app-repo [repo]="currentRepo" (likedRepoChild)="handleLikedRepoFromChildComponent($event)"></app-repo>
      </div>
    </div>
  </div>

</div>

<div class="ui container segment">

  <h2 class="ui header">
    <i class="github icon"></i>
    <div class="content">
      Populares
      <div class="sub header">Repositórios mais populares do dia</div>
    </div>
  </h2>

  <div class="ui error message" *ngIf="!randomRepos || !randomRepos.length">
    <div class="header">Sem repositório</div>
    <p>Infelizmente nenhum repositório foi encontrado.</p>
  </div>

  <div class="ui grid">
    <div class="ui four column row">
      <div class="four wide column" *ngFor="let currentRepo of randomRepos">
        <app-repo [repo]="currentRepo" (likedRepoChild)="handleLikedRepoFromChildComponent($event)"></app-repo>
      </div>
    </div>
  </div>

</div>

